* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 24px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


 .tech-stack-section{
    display: flex;
    flex-direction: column;
}

.info-section {
    max-width: 500px;
    text-align: center;
}

.info-section h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.info-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.info-section ul {
    list-style: none;
}

.info-section ul li {
    font-size: 1rem;
    margin-bottom: 5px;
}

.photo-section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}


.tech-stack-section {
    margin-top: 30px;
    text-align: center;
}

.techstack {
    font-size: 2rem;
    margin-bottom: 20px;
}

.tech-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.tech-icons img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}


@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .info-section h1 {
        font-size: 2rem;
    }

    .info-section p, .info-section ul li {
        font-size: 1.1rem;
    }

    .photo-section img {
        width: 150px;
        height: 150px;
        margin-top: 20px;
    }

    .techstack {
        font-size: 1.8rem;
    }

    .tech-icons img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 480px) {
    .main-content {
        padding: 10px;
    }

    .info-section h1 {
        font-size: 1.8rem;
    }

    .info-section p, .info-section ul li {
        font-size: 1rem;
    }

    .photo-section img {
        width: 120px;
        height: 120px;
    }

    .techstack {
        font-size: 1.5rem;
    }

    .tech-icons img {
        width: 40px;
        height: 40px;
    }
}
