body{
  margin: 0;
  background-color: azure;
}
.topo{
  align-items: center; 
  
} 

.menu{
  display: grid;
  grid-template-columns: 60px 70px 60px;
  position: relative;
  list-style: none;
  padding: 10px 5px;
  
}

.link{
  color: black;
  text-decoration: none;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  
}

.linkContact{
  text-decoration: none;
  font-weight: 500; 
  
}

.links{
  display: flex;
  align-items: center;
  position: relative;
  left: 550px;
  top: 150px;
  width: 100px;
  
}

.imglink{
  height: 25px;
  
}

.foto{
  max-width: 500px;
  position: relative;
  left: 900px;
  bottom: 40px;
  
}

.text{
  position: relative;
  width: 300px;
  left: 550px;
  top: 150px;
  
}

.rodape{
  align-items: center;
  
}

.techstack{
  position: relative;
  width: 200px; 
  left: 550px; 
  top: 20px;
  
}

.icon{
  height: 70px;
  position: relative;
  left: 700px;
  bottom: 47px;
  
}






